In [1]:
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

In [ ]:
data=[
    ['Bread','milk'],
    ['Bread','Diaper','Beer','Eggs'],
    ['Milk','Diaper','Beer','Coke'],
    ['Bread','Milk','Diaper','Beer'],
    ['Bread','Milk','Diaper','Coke']
]
data

[['Bread', 'milk'],
 ['Bread', 'Diaper', 'Beer', 'Eggs'],
 ['Milk', 'Diaper', 'Beer', 'Coke'],
 ['Bread', 'Milk', 'Diaper', 'Beer'],
 ['Bread', 'Milk', 'Diaper', 'Coke']]

In [ ]:
tr=TransactionEncoder()
frame=tr.fit(data).transform(data)
data=pd.DataFrame(frame,columns=tr.columns_)
data

    Beer  Bread   Coke  Diaper   Eggs   Milk   milk
0  False   True  False   False  False  False   True
1   True   True  False    True   True  False  False
2   True  False   True    True  False   True  False
3   True   True  False    True  False   True  False
4  False   True   True    True  False   True  False

In [ ]:
frequent_itemset=apriori(data,min_support=0.5,use_colnames=True)
frequent_itemset

   support         itemsets
0      0.6           (Beer)
1      0.8          (Bread)
2      0.8         (Diaper)
3      0.6           (Milk)
4      0.6   (Diaper, Beer)
5      0.6  (Diaper, Bread)
6      0.6   (Diaper, Milk)

In [ ]:
association_rules(frequent_itemset,metric='confidence',min_threshold=0.8)

  antecedents consequents  ...  conviction  zhangs_metric
0      (Beer)    (Diaper)  ...         inf            0.5
1      (Milk)    (Diaper)  ...         inf            0.5

[2 rows x 10 columns]